<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-logo">
            <img src="{{ site.baseurl }}/assets/images/iqunet_logo_bgwhite.svg" alt="iQunet Logo" style="width: 8em; margin-bottom: 1em">
          </li>
          <li class="p-name">
            visit <a href="https://iqunet.com" target="_blank">
              iQunet.com
            </a>
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
