---
---

@import "minimal-mistakes";

.page__content {
  p, ul, dl {
    font-size: 0.75rem;
    margin-top: 1em;
  }
}

figcaption {
  margin-bottom: 1em;
}

h3 {
  margin-top: 1em;
}

hr {
  border-top: 3px solid #80808063;
}

.toc {
  ul {
    font-size: 0.8rem;
  }
}

.highlighter-rouge div {
  margin-top: 1.5em;
  font-size: .8em;
}

.author__avatar {
  
  img {
    border-radius: 0;
    border: 0;
  }
}

.sidebar {
  width: calc(12em - 1em);
  opacity: 1;
  @media (max-width: 1024px) {
    width: calc(100%);
    max-width: 20em;
  }
}

.sidebar-company {
  @media (max-width: 1024px) {
    display: none;
  }
}

.page {
  width: calc(100% - 12em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 1024px) {
    width: calc(100%);
    max-width: 35em;
    margin: auto;
  }
}

.page__inner-wrap {
  max-width: 33em;
}

.description_2 {
  width: 95%;
  padding: 1em;
  font-size: 0.6em;
  font-style: italic;
  background: #929cd31f;
  border-radius: 16px;
}

.notice {
  background-color: #e3e7ff9e;
  a {
    color: #6e7173;
  }
}

.notice br {
  display: block;
  margin: 0.5em;
}

.external::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
